:root {
  --button-color: hsla(231, 48%, 37%, 0.95);
  --button-font-size: 3em;
  --button-border-color: silver;
  --button-background-color: transparent;
  --disabled-button-color: hsla(231, 24%, 37%, 0.5);
  --disabled-button-border-color: silver;
  --disabled-button-background-color: rgba(0, 0, 0, 0.05);
  --active-button-border-color: #2ecc71;
  --active-button-background-color: #2ecc71;

  --progress-background-color: #c1e1fb;
  --progress-bar-background-color: #2196f3;
}
