.settings {
  --size: 1em;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c1e1fb;
  overflow: hidden;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.settings::before {
  display: block;
  font-size: var(--size);
  /* Gear icon */
  /*content: '\2699';*/
  /* Bell icon */
  content: '\1F514';
  transform: rotate(30deg) scale(0.75);
}

.settings:hover {
  color: #2196f3;
}
