button {
  flex-grow: 5;
  flex-shrink: 1;
}

button {
  color: var(--button-color);
  font-size: var(--button-font-size);
  background: var(--button-background-color);
  box-shadow: none;
  border: none;
  padding: 0;
  box-shadow: inset 0 0 0 2px var(--button-border-color);
  transition: all ease 0.25s;
}

button:disabled {
  color: var(--disabled-button-color);
  background: var(--disabled-button-background-color);
  box-shadow: inset 0 0 0 2px var(--disabled-button-border-color);
}

button:focus {
  box-shadow: inset 0 0 0 2px var(--button-border-color), inset 0 0 0 4px white, inset 0 0 0 6px var(--active-button-border-color);
  outline: none;
}

button:active {
  background-color: var(--active-button-background-color);
  outline: none;
}
