.progress {
  --value: 0;
  --max: 100;

  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 2px;
  width: 100%;
  background-color: var(--progress-background-color);
  overflow: hidden;
}

.progress__bar {
  background-color: var(--progress-bar-background-color);
  transform: scaleX(calc(var(--value) / var(--max)));
  transition: transform 0.4s linear;
  transform-origin: left;
  will-change: transform;
  width: 100%;
}
